/*== FONTS ==*/

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroyextrabold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroylight.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

/*== ANIMATION ==*/

 @-webkit-keyframes arrival {
   0% {
       display: none;
       opacity: 0;
   }

   1% {
       display: block;
       opacity: 0;

   }

   100% {
       display: block;
       opacity: 1;
   }
 }

 @keyframes arrival {
   0% {
       display: none;
       opacity: 0;
   }

   1% {
       display: block;
       opacity: 0;

   }

   100% {
       display: block;
       opacity: 1;
   }
 }

  @-webkit-keyframes quake {
    0%, 100% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }

    10%, 30%, 50%, 70%, 90% {
      -webkit-transform: translateX(5px);
      transform: translateX(5px);
    }

    20%, 40%, 60%, 80% {
      -webkit-transform: translateX(-5px);
      transform: translateX(-5px);
    }
  }

  @keyframes quake {
    0%, 100% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }

    10%, 30%, 50%, 70%, 90% {
      -webkit-transform: translateX(5px);
      transform: translateX(5px);
    }

    20%, 40%, 60%, 80% {
      -webkit-transform: translateX(-5px);
      transform: translateX(-5px);
    }
  }

/*== GLOBAL ==*/

body {
  min-width: 1160px;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.button {
  position: absolute;

  display: inline-block;
  height: 7px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 44px;
  padding-right: 40px;


  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 4.25px;
  line-height: 9px;

  background-color: #f0c52e;
  border: none;

  -webkit-transition-duration: 150ms;
       -o-transition-duration: 150ms;
          transition-duration: 150ms;
}

.button:hover,
.button:focus,
.button:active {
  margin-top: -16px;
  margin-bottom: -16px;
  padding-top: 16px;
  padding-bottom: 16px;

  background-color: #f0c52e;
}

.button span {
  position: relative;
}

.button:active > span {
  opacity: 0.3;
}

/*== HEADER == */

.main-header {
  padding-left: 55px;
  padding-right: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  background-image: -webkit-linear-gradient(#ffffff 15px, #f7e296 15px);
  background-image: -o-linear-gradient(#ffffff 15px, #f7e296 15px);
  background-image: linear-gradient(#ffffff 15px, #f7e296 15px);
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.main-header-logo p {
  position: relative;

  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 2px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 48px;
  color: #000000;
  letter-spacing: 0.5px;
}

.search-form-container {
  position: relative;
}

.search-form-container::after {
  position: absolute;
  top: 10px;
  left: 7px;

  content: "";
  width: 25px;
  height: 25px;

  background-image: url("../img/search-icon.svg");
  background-repeat: no-repeat;
  background-position: 1px 1px;
}

.main-header-upper-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1060px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.upper-container-left-part {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main-header-columns {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search-form input {
  margin: 0;
  padding: 0;
  padding-bottom: 12px;
  padding-left: 43px;
  width: 355px;
  min-height: 36px;

  background-color: transparent;
}

.search-form input[placeholder] {
  font-size: 15px;
  line-height: 36px;
  color: #000000;
  font-weight: 300;
  letter-spacing: 0.4px;

  background-color: inherit;
  opacity: 0.3;
  border: none;
}

.search-form input[placeholder]:hover {
  opacity: 0.6;
}

.search-form input[placeholder]:focus {
  opacity: 1;
  -webkit-box-shadow: inset 0px -1px 0px 0px #000000,
  0px 1px 0px 0px #000000;
          box-shadow: inset 0px -1px 0px 0px #000000,
  0px 1px 0px 0px #000000;
}

.search-button {
  position: absolute;
  top: -1px;
  left: 355px;

  display: none;
  width: 85px;
  height: 50px;

  font-size: 15px;
  line-height: 36px;
  color: #000000;
  text-transform: none;
  font-weight: 300;
}

.search-input:focus ~ .search-button,
.search-button:hover,
.search-button:active {
  position: absolute;
  top: -1px;
  left: 355px;

  display: block;
  width: 85px;
  height: 50px;

  font-size: 15px;
  line-height: 36px;
  color: #000000;
  text-transform: none;
  font-weight: 300;

  background-color: #f7e296;
  border: 2px solid #000000;
}

.search-form-container .search-button:hover {
  color: #ffffff;

  background-color: #000000;
}

.search-button:active > span {
  opacity: 0.3;
}

.header-user-links,
.header-service-links,
.header-dropping-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-user-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 519px;
}

.header-user-links li:nth-child(2) {
  margin-left: 208px;
}

.header-user-links li:nth-child(3) {
  margin-left: 34px;
}

.header-user-links a::before {
  position: absolute;
  top: 4px;
  left: -2px;

  content: "";
  width: 25px;
  height: 25px;

  opacity: 1;
}

.header-user-link a {
  letter-spacing: 0.1px;
}

.header-user-link:first-child a::before {
  background-image: url("../img/user-icon.svg");
  background-repeat: no-repeat;
  background-position: 6px 8px;
}

.header-user-link:nth-child(2) a::before {
  background-image: url("../img/compare-icon.svg");
  background-repeat: no-repeat;
  background-position: 12px 10px;
}

.header-user-link:nth-child(3) a::before {
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 9px 8px;
}

.header-user-links a {
  position: relative;

  display: block;
  padding-left: 30px;
}

.header-dropping-list {
  display: none;
}

.header-service-link:hover + .header-dropping-list,
.header-dropping-list:hover {
  position: absolute;
  top: 25px;
  left: -59px;
  z-index: 5;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  padding-top: 20px;
  width: 1160px;
  height: 145px;

  background-color: #F7E296;
}

.header-dropping-list li {
  -ms-flex-preferred-size: 45px;
      flex-basis: 45px;
}

.header-dropping-list .dropping-list-row-1,
.header-dropping-list .dropping-list-row-2 {
  margin-left: 60px;
}

.header-dropping-list .dropping-list-row-3 {
  -ms-flex-preferred-size: 65px;
      flex-basis: 65px;
  margin-left: 75px;
}

.header-user-links a,
.header-dropping-list a {
  line-height: 36px;
  color: #000000;
  text-transform: none;
  font-weight: 300;
}

.header-dropping-list a {
    letter-spacing: 0.1px;
}

.header-service-links {
  margin: 0;
  margin-top: 21px;
  margin-bottom: 19px;
  padding: 0;
  width: 1060px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-service-links > li:first-child {
  position: relative;

  width: 260px;
  margin-right: 281px;
  margin-left: 4px;
}

.header-service-links > li:first-child::after {
  position: absolute;
  top: 2px;
  left: 226px;

  content: "";
  width: 25px;
  height: 25px;

  background-image: url("../img/plus-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.3;
}

.header-service-links > li:nth-child(3) {
  margin-left: 36px;
}

.header-service-links > li:nth-child(4) {
  margin-left: auto;
  margin-right: 13px;
}

.header-service-link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 17px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.24em;
}

.header-user-links a:hover,
.header-dropping-list a:hover,
.header-service-links a:hover,
.header-user-links a:hover::before {
  opacity: 0.6;
}

.header-user-links a:active,
.header-dropping-list a:active,
.header-service-links a:active,
.header-user-links a:active::before {
  opacity: 0.3;
}

/*== HEADER INNER PAGE ==*/

.main-header-inner {
  padding-bottom: 27px;
}

.main-header-logo .inner {
 top: 2px;
}

.main-header-logo .inner:hover {
  opacity: 0.6;
}

.main-header-logo .inner:active {
 opacity: 0.3;
}

.header-user-link-inner:nth-child(2) a::before {
  background-image: none;
}

.header-user-link-inner:nth-child(3) a::before {
  background-image: url("../img/compare-icon.svg");
  background-repeat: no-repeat;
  background-position: 12px 10px;
}

.header-user-link-inner:nth-child(4) a::before {
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 9px 8px;
}

.header-user-links-inner li:nth-child(2) {
  margin-left: -10px;

  opacity: 0.3;
}

.header-user-links-inner li:nth-child(3) {
  margin-left: 55px;
}

.header-user-links-inner li:nth-child(4) {
  margin-left: 34px;
}

/*== FOOTER ==*/

.main-footer {
  padding-bottom: 65px;

  background-color: #464646;
}

.main-footer .container {
  position: relative;
  left: -1px;

  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-left-part {
  width: 250px;
}

.footer-left-part p {
  margin-top: 31px;
}

.footer-middle-part {
  width: 450px;

  text-align: center;
}

.footer-right-part {
  width: 350px;

  text-align: right;
}

.main-footer-logo p {
  position: relative;

  margin: 0;
  margin-left: -2px;
  margin-top: 9px;
  padding: 0;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 48px;
  color: #ffc600;
  letter-spacing: 0.5px;
}

.footer-left-part::after {
  position: absolute;
  top: 237px;
  left: 1px;

  content: "";
  width: 80px;
  height: 7px;

  background-color: #F0C52E;
}

.footer-service-links,
.social-buttons,
.footer-user-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-service-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 74px;
  margin-left: 63px;
  width: 428px;
}

.footer-user-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 26px;
  width: 329px;
}

.developer-logo {
  position: relative;
}

.developer-logo svg {
  position: absolute;
  left: -28px;

  margin-top: 48px;
}

.footer-user-links span {
  line-height: 36px;
  color: #ffffff;
  font-weight: 300;
  letter-spacing: 0.15px;

  opacity: 0.7;
}

.footer-user-link:nth-child(2) {
  margin-left: 43px;
}

.footer-user-link:nth-child(3) {
  margin-left: 41px;
}

.footer-user-link:nth-child(1) span {
  margin-left: 9px;
}

.footer-user-link:nth-child(2) span {
  margin-left: 6px;
}

.footer-user-link:nth-child(3) span {
  margin-left: 7px;
}

.footer-user-links svg:hover,
.developer-logo:hover {
  opacity: 0.6;
}

.footer-user-links svg:active,
.developer-logo:active {
  opacity: 0.3;
}

.footer-user-links span:hover {
  opacity: 1;
}

.footer-user-links span:active {
  opacity: 0.3;
}

.phone,
.adress {
  line-height: 30px;
  color: #ffffff;
  font-weight: 300;
}

.phone {
  margin-top: 34px;
  width: 351px;
}

.footer-service-links a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.main-footer-logo p:hover,
.footer-service-links a:hover {
  opacity: 0.6;
}

.main-footer-logo p:active,
.footer-service-links a:active {
  opacity: 0.3;
}

.social-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
  margin-left: 205px;
  width: 141px;

  color: #ffffff;

  opacity: 0.3;
}

.social-buttons svg:hover {
  opacity: 0.6;
}

.social-buttons svg:active {
  opacity: 0.1;
}

/*== FOOTER INNER PAGE ==*/

.main-footer-inner {
  position: relative;
}

.main-footer-inner .container {
  padding-top: 65px;
}

.footer-left-part-inner p {
  margin-top: 4px;
  margin-left: -3px;

  letter-spacing: 0.3px;
}

.footer-left-part-inner .adress {
  margin-top: 36px;
  margin-left: 0px;

  letter-spacing: 0px;
}

.footer-left-part-inner::after {
  top: 242px;
}

.developer-logo-inner {
  left: 0px;
}

.footer-user-link-inner:nth-child(2) {
  margin-left: 41px;
}

/*== INDEX [PAGE] == */

/*== PROMO-DESCRIPTION ==*/

.promo-description {
  position: relative;
}

.upper-slider {
  position: relative;

  padding-right: 50px;
  padding-top: 29px;
  margin: 0;

  background-image: -webkit-linear-gradient(#F7E296 140px, #ffffff 140px);
  background-image: -o-linear-gradient(#F7E296 140px, #ffffff 140px);
  background-image: linear-gradient(#F7E296 140px, #ffffff 140px);
}

.promo-description label {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;

  vertical-align: middle;

  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #000000;
}

.promo-description .upper-toggle {
  position: absolute;
  z-index: 6;
  top: 356px;
  right: 149px;

  cursor: pointer;
}

.promo-description .upper-toggle-2 {
  right: 116px;
}

.promo-description .upper-toggle-3 {
  right: 83px;
}

.upper-slider li {
  list-style: none;
  display: none;
  margin: 0;
  padding: 0;
}

#upper-toggle-1:checked ~ label[for="upper-toggle-1"],
#upper-toggle-2:checked ~ label[for="upper-toggle-2"],
#upper-toggle-3:checked ~ label[for="upper-toggle-3"] {
  background-image: url("../img/slider-button.svg");
  background-repeat: no-repeat;
  background-position: -1px -1px;
}

#upper-toggle-1:checked ~ .upper-slider .slide-1,
#upper-toggle-2:checked ~ .upper-slider .slide-2,
#upper-toggle-3:checked ~ .upper-slider .slide-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide-1 img {
  position: relative;
  top: 0px;
  left: 50px;
}

.slide-2 img {
  position: relative;
  top: 8px;
  left: 12px;
}

.slide-3 img {
  position: relative;
  top: 65px;
  left: -8px;
}

.description-container {
  position: relative;
  z-index: 0;

  width: 512px;
  margin-left: auto;
  padding-top: 79px;
}

.upper-slider b {
  margin-left: 1px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 46px;
  line-height: 56px;
  letter-spacing: 1.25px;
}

.description-container .slide-number {
  position: absolute;
  top: 61px;
  right: -1px;
  z-index: -1;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 178.5px;
  color: #ffffff;

  background-color: #f7e296;
}

.description-container b::before {
  position: absolute;
  top: 37px;
  left: 2px;

  content: "";
  width: 100px;
  height: 7px;

  background-color: #ffffff;
}

.description-container .item-description {
  padding-top: 4px;
  padding-bottom: 50px;
  padding-left: 1px;
  width: 490px;

  line-height: 30px;
  color: #464646;
  font-weight: 300;
  letter-spacing: 0.01em;
}

.slide-button {
  left: 0px;
  bottom: 171px;

  margin-left: 1px;
  padding-left: 45px;
  padding-right: 39px;
  height: 8px;
}

.slide-2 .item-description {
  width: 450px;
}

.slide-3 .item-description {
  width: 480px;
}

.slide-table {
  padding: 0;
  margin: 0;
  margin-bottom: 27px;
  padding-top: 74px;
}

.slide-table th,
.slide-table td {
  padding-right: 74px;

  letter-spacing: 0.2px;
}

.slide-table th:nth-child(2),
.slide-table td:nth-child(2){
  padding-right: 73px;
}

.slide-table th:last-child,
.slide-table td:last-child {
  padding-right: 0;
}

.slide-table th {
  padding-bottom: 13px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 300;
}

.slide-table td {
  font-size: 13px;
  line-height: 20px;
  color: #464646;
  font-weight: 300;
}

/*== SHOP-CATEGORY ==*/

.shop-category {
  position: relative;
  left: -1px;

  padding-top: 75px;
}

.item-groups {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-group-container {
  position: relative;

  width: 160px;
}

.item-group-container a::before {
  position: absolute;
  top: -1px;
  left: 1px;
  z-index: -5;

  content: "";
  width: 160px;
  height: 160px;

  background-color: #F7E296;
}

.item-group-container a {
  position: relative;

  display: block;
  padding-top: 23px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  color: #000000;
}

.item-group-container:hover a::before{
  background-color: #F0C52E;
}

.item-class-description {
  margin-top: 5px;
  padding-top: 165px;

  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.012em;
}

.virt-reality-description {
  background-image: url("../img/popular-virt-reality.svg");
  background-repeat: no-repeat;
  background-position: 32px 23px;
}

.monopods-description {
  width: 125px;

  background-image: url("../img/popular-selfie-monopods.svg");
  background-repeat: no-repeat;
  background-position: 39px 12px;
}

.action-cameras-description {
  background-image: url("../img/popular-action-cameras.svg");
  background-repeat: no-repeat;
  background-position: 50px 9px;
}

.fitness-description {
  white-space: nowrap;

  background-image: url("../img/popular-fitness-bracer.svg");
  background-repeat: no-repeat;
  background-position: 29px 21px;
}

.smart-watches-description {
  background-image: url("../img/popular-smart-watches.svg");
  background-repeat: no-repeat;
  background-position: 56px 3px;
}

.quadrocopter-description {
  background-image: url("../img/poppular-quadrocopters.svg");
  background-repeat: no-repeat;
  background-position: 14px 20px;
}

.item-class-description:active,
.item-group svg:active {
  opacity: 0.3;
}

/*== SERVICE ==*/

.service {
  background-image: -webkit-linear-gradient(#ffffff 113px,  #e5e5e5 113px);
  background-image: -o-linear-gradient(#ffffff 113px,  #e5e5e5 113px);
  background-image: linear-gradient(#ffffff 113px,  #e5e5e5 113px);
}

.lower-slider-container {
  position: relative;

  padding-top: 73px;
  padding-bottom: 121px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.lower-slider-container .lower-toggle-button {
  position: absolute;
  top: 0;

  height: 8px;
  padding-left: 20px;
  padding-right: 16px;

  transition-property: padding, margin, box-shadow;
  transition-duration: 150ms, 150ms, 0ms;
}

.lower-toggle-button:hover {
  margin-top: -16px;
  margin-bottom: -16px;
  padding-top: 16px;
  padding-bottom: 16px;

  background-image: none;
  background-color: #f0c52e;
}

.lower-slider-container .lower-toggle-button:nth-of-type(1) {
  top: 109px;
}

.lower-slider-container .lower-toggle-button:nth-of-type(2) {
  top: 173px;

  padding-left: 25px;
  padding-right: 20px;
}

.lower-slider-container .lower-toggle-button:nth-of-type(3) {
  top: 238px;

  padding-left: 37px;
  padding-right: 35px;
}

#lower-toggle-1:checked ~ label[for="lower-toggle-1"],
#lower-toggle-2:checked ~ label[for="lower-toggle-2"],
#lower-toggle-3:checked ~ label[for="lower-toggle-3"] {
  margin-top: -16px;
  margin-bottom: -16px;
  padding-top: 16px;
  padding-bottom: 16px;

  color: #f7e184;

  background-color: #000000;
  background-image: none;
  -webkit-box-shadow: 120px 0px 0px 0px #000000;
          box-shadow: 120px 0px 0px 0px #000000;
}

.lower-slider {
  list-style: none;
  margin: 0;
  padding: 0;
}

.lower-slider .lower-slide-header {
  font-size: 46px;
  letter-spacing: 1.4px;
}

.lower-slider-container::after {
  position: absolute;
  left: 277px;
  top: 13px;

  content: "";
  width: 7px;
  height: 319px;

  background-color: #000000;
}

.lower-slide-description {
  width: 450px;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 400px;
  padding-right: 390px;
}

.lower-slide-description h3 {
  margin: 0;
  margin-bottom: 40px;
  padding-top: 2px;
  padding-left: 2px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
}

.lower-slide-description .advantage-description {
  line-height: 30px;
  color: #464646;
  font-weight: 300;
  letter-spacing: 0.26px
}

.lower-slider li {
  display: none;
}

#lower-toggle-1:checked ~ .lower-slider .lower-slide-1,
#lower-toggle-2:checked ~ .lower-slider .lower-slide-2,
#lower-toggle-3:checked ~ .lower-slider .lower-slide-3 {
  display: block;
}

.lower-slider .lower-slide-1 {
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
  background-position: 958px 25px;
}

.lower-slider .lower-slide-2 {
  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
  background-position: 958px 1px;
}

.lower-slider .lower-slide-3 {
  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
  background-position: 958px 1px;
}

/*== BRANDS == */

.brands-list {
  position: relative;
  left: -1px;

  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 106px;
  margin-bottom: 109px;
  margin-left: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brands-item {
  padding: 0px;

  opacity: 0.2;

  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.brands-item:first-child {
  width: 127px;
  height: 73px;
}

.brands-item:nth-child(2) {
  width: 256px;
  height: 48px;
  margin-top: -1px;
  margin-left: 109px;
}

.brands-item:nth-child(3) {
  width: 184px;
  height: 48px;
  margin-top: -1px;
  margin-left: 76px;
}

.brands-item:nth-child(4) {
  width: 200px;
  height: 56px;
  margin-top: 6px;
  margin-left: 105px;
}

.brands-item:hover {
  opacity: 1;
}

.brands-item:nth-child(1) a:hover::before {
  position: absolute;

  content: "";
  width: 127px;
  height: 74px;

  background-image: url("../img/logo-dji-hover.jpg");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.brands-item:nth-child(2) a:hover::before {
  position: absolute;

  content: "";
  width: 400px;
  height: 100px;

  background-image: url("../img/logo-sp-gadgets-hover.jpg");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.brands-item:nth-child(3) a:hover::before {
  position: absolute;

  content: "";
  width: 400px;
  height: 100px;

  background-image: url("../img/logo-gopro-hover.jpg");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.brands-item:nth-child(4) a:hover::before {
  position: absolute;

  content: "";
  width: 400px;
  height: 100px;

  background-image: url("../img/logo-vive-hover.jpg");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

/*== REFERENCE BLOCK ==*/

.reference-block {
  margin-bottom: 124px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reference-block h2::before {
  position: absolute;
  top: -61px;
  left: 3px;

  content: "";
  width: 80px;
  height: 7px;

  background-color: #000000;
}

.reference-block h2 {
  position: relative;

  margin-top: 60px;

  font-size: 46px;
  letter-spacing: 1.3px;
}

.reference-block p {
  padding-top: 13px;
  padding-right: 40px;

  letter-spacing: 0.1px;
}

/*== ABOUT US ==*/

.about-us {
  position: relative;
  left: -1px;

  width: 600px;
}

.about-us h2::before {
  left: 1px;
}

.about-us h2 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  letter-spacing: 0;
}

.about-us p {
  padding-right: 113px;
  padding-bottom: 2px;

  line-height: 30px;
  color: #464646;
  font-weight: 300;
}

.about-us-partners {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 64px;
  margin-bottom: 52px;
  padding-left: 36px;
}

.about-us-partners li::before {
  position: absolute;
  top: 18px;
  left: -32px;

  content: "";
  width: 4px;
  height: 4px;

  -webkit-box-shadow: 0px 0px 0px 2px #ececec;
          box-shadow: 0px 0px 0px 2px #ececec;
  border-radius: 50%;
}

.about-us-partners li:nth-child(2)::before {
  top: 19px;
}

.about-us-partners li {
  position: relative;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.15px;
}

.about-us-button {
  top: 548px;

  height: 8px;
  padding-left: 23px;
  padding-right: 18px;
  margin-left: 1px;
}

/*== CONTACTS == */

.contacts {
  position: relative;

  width: 563px;
}

.contacts h2 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  letter-spacing: 0.8px;
}

.contacts p {
  line-height: 30px;
  color: #464646;
  font-weight: 300;
}

.contacts img {
  margin-top: 24px;
  margin-left: 3px;
  margin-bottom: 58px;
}

.contacts-button {
  left: 3px;
  bottom: -26px;

  height: 8px;
  padding-left: 35px;
  padding-right: 37px;
}

.contacts-button span {
  padding-left: 5px;

  letter-spacing: 4.3px;
}

/*== MODAL == */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 960px;

  background-color: #ffffff;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(4, 6, 6, 0.2);
          box-shadow: 0px 10px 20px 0px rgba(4, 6, 6, 0.2);
}

.modal-show {
  display: block;

  -webkit-animation-name: arrival;
          animation-name: arrival;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
}

.modal-hide {
  display: none;
}

.modal-error {
  -webkit-animation-name: quake;
          animation-name: quake;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.modal-invalid {
  background-color: #edb5b5;
  opacity: 0.5;
  outline: none;
}


/*== MODAL-WRITE-US == */

.modal-write-us {
  top: 50%;
  left: 50%;
  z-index: 15;

  margin-top: -256px;
  margin-left: -480px;
}

.modal-container {
  position: relative;
}

.modal-close {
  position: absolute;
  top: -78px;
  right: 20px;

  width: 55px;
  height: 55px;
  padding: 0;
  margin: 0;

  background-color: transparent;
  border: none;
  opacity: 0.5;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.write-us-form-container {
  margin-top: 95px;
  margin-bottom: 45px;
  margin-left: 100px;
  margin-right: 100px;
  padding-bottom: 30px;
}

.write-us-form .outer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
}

.input-wrapper,
.mail-wrapper,
.textarea-wrapper {
  margin-top: 10px;
}

.textarea-wrapper {
  margin-bottom: 40px;
}


.input-wrapper,
.textarea-wrapper {
  opacity: 0.5;
}

.input-wrapper:hover,
.textarea-wrapper:hover {
  opacity: 0.8;
}

.input-wrapper:focus,
.textarea-wrapper:focus {
  opacity: 1;
}

.textarea-wrapper {
  height: 160px;
}

.textarea-wrapper textarea {
  width: 760px;
  height: 160px;
}

.write-us-form input,
.write-us-form textarea {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  background-color: #e5e5e5;
  border: none;
  opacity: 0.5;
}

.form-upper-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 760px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
}

.form-upper-container input {
  width: 360px;
}

.write-us-form input:focus,
.write-us-form textarea:focus {
  background-color: #ffffff;
  outline-color: #f0c52e;
  outline-style: solid;
  outline-width: 3px;
  opacity: 0.5;
}

.write-us-form input[placeholder],
.write-us-form textarea[placeholder] {
  font-size: 14px;
  line-height: 18px;
  color: #464646;

  opacity: 0.4;
}

.write-us-form input[placeholder]:focus,
.write-us-form textarea[placeholder]:focus {
  opacity: 1;
}

.write-us-submit {
  font-size: 18px;
  line-height: 8px;
  height: auto;
}

/*== MODAL POP-UP-MAP ==*/

.modal-popup-map {
  top: 50%;
  left: 50%;
  z-index: 15;

  width: 960px;
  height: 560px;
  margin-top: -280px;
  margin-left: -480px;

  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal-popup-map .modal-close {
top: 20px;
right: 20px;
}

/*== CATALOG [PAGE] ==*/

/*== CATALOG. MAIN ==*/

.main-inner-container {
  padding-left: 55px;
}

.inner-page-header {
  margin: 0;
  padding: 0;
  margin-top: 46px;
  margin-bottom: 27px;
  margin-left: 4px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  letter-spacing: 0.65px;
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 380px;

  letter-spacing: 0px;
}

.breadcrumbs li {
  position: relative;
}

.breadcrumbs li:not(:last-child)::after {
  position: absolute;
  top: 14px;
  right: -21px;

  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;

  vertical-align: middle;

  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: 4px 1px;
}

.breadcrumbs li:nth-child(2)::after {
  right: -25px;
}

.breadcrumbs a,
.breadcrumbs-current {
  font-size: 14px;
  line-height: 36px;
  color: #000000;
  font-weight: 300;

  opacity: 0.3;
}

.breadcrumbs a:hover {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

/*== CATALOG-REFERENCE-BLOCK ==*/

.catalog-reference-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*== FILTERS == */

.filters {
  position: relative;

  width: 267px;
  padding-left: 61px;

  background-color: #efefef;

  -webkit-box-shadow: -250px 0px 0px 0px #efefef,
  -500px 0px 0px 0px #efefef;
          box-shadow: -250px 0px 0px 0px #efefef,
  -500px 0px 0px 0px #efefef;
}

.filters h2 {
  position: relative;

  margin: 0;
  padding: 20px;
  padding-left: 0;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3.5px;

  background-color: #dbdbdb;
  -webkit-box-shadow: -250px 0px 0px 0px #dbdbdb,
  -500px 0px 0px 0px #dbdbdb;
          box-shadow: -250px 0px 0px 0px #dbdbdb,
  -500px 0px 0px 0px #dbdbdb;
}

.price-filter {
  margin-top: 79px;
}

.price-filter p {
  position: relative;

  margin-left: -2px;

  letter-spacing: 0.2px;
}

.price-filter p::after {
  position: absolute;
  top: -10px;
  left: 0px;

  content: "";
  width: 201px;
  height: 2px;

  background-color: #000000;
}

.range-controls {
  position: relative;
}

.range-controls .scale {
  width: 201px;
  height: 2px;
  margin-top: 31px;

  background-color: #dbdbdb;
}

.range-controls .bar {
  position: relative;
  left: -67px;

  width: 65%;
  margin-left: 60px;
  height: 2px;

  background-color: #91c92f;
}

.range-toggle {
  position: absolute;
  top: -10px;

  width: 20px;
  height: 22px;

  background-image: url("../img/filter-range-button.svg");
  background-repeat: no-repeat;

  cursor: pointer;
}

.bar::after {
  position: absolute;
  top: 9px;
  left: 4px;

  content: "от 0";
  width: 40px;
  height: 10px;

  font-family: "Gilroy ", "Arial", sans-serif;
  font-weight: 300;

  opacity: 0.2;
}

.bar::before {
  position: absolute;
  top: 9px;
  left: 94px;

  content: "до 5000";
  width: 60px;
  height: 10px;

  font-family: "Gilroy ", "Arial", sans-serif;
  font-weight: 300;

  opacity: 0.2;
}

.range-toggle:nth-child(1):hover::after {
  width: 10px;
  height: 10px;

  background-position: 5px 5px;
}

.range-toggle:hover {
  position: absolute;
  top: -11px;
  left: -2px;

  width: 25px;
  height: 25px;

  background-image: url("../img/filter-range-button-hover.svg");
  background-repeat: no-repeat;
  background-position: 1px 1px;

  cursor: pointer;
}

.range-toggle:nth-child(2){
  left: 113px;
}

.range-toggle:nth-child(2):hover {
  background-position: -1px 1px;
}

.filters-form {
  position: relative;
}

.filters-form fieldset {
  border: none;
}

.price-filter p,
.filters-form legend {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
}

.filter-color {
  padding: 0px;
  margin-top: 77px;
  margin-left: 0px;
}

.filter-color legend {
  position: relative;
  margin-left: -2px;
}

.filter-color legend::before {
  position: absolute;
  top: -10px;
  left: 0px;

  content: "";
  width: 201px;
  height: 2px;

  background-color: #000000;
}

.color-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 14px;
  margin-left: 37px;
}

.color-list label::before {
  position: absolute;
  left: -45px;
  top: -6px;

  content: "";
  width: 33px;
  height: 30px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
}

#checkbox-black:checked ~ label::before,
#checkbox-white:checked ~ label::before,
#checkbox-blue:checked ~ label::before,
#checkbox-red:checked ~ label::before,
#checkbox-pink:checked ~ label::before {
  position: absolute;
  left: -45px;
  top: -6px;

  content: "";
  width: 33px;
  height: 30px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 5px 4px;

  cursor: pointer;
}

.color-option:nth-child(4) label::before,
#checkbox-red:checked ~ label::before {
  left: -45px;
  top: -7px;
}

.color-option:nth-child(5) label::before,
#checkbox-pink:checked ~ label::before {
  left: -45px;
  top: -7px;
}

.color-list label:hover::before,
#checkbox-black:checked ~ label:hover::before,
#checkbox-white:checked ~ label:hover::before,
#checkbox-blue:checked ~ label:hover::before,
#checkbox-red:checked ~ label:hover::before,
#checkbox-pink:checked ~ label:hover::before {
  opacity: 0.6;
}

#checkbox-black:checked ~ label:active::before,
#checkbox-white:checked ~ label:active::before,
#checkbox-blue:checked ~ label:active::before,
#checkbox-red:checked ~ label:active::before,
#checkbox-pink:checked ~ label:active::before {
  left: -45px;

  background-image: url("../img/checkbox-off.svg");

  opacity: 1;
}

.color-list label:active::before {
  left: -43px;

  background-image: url("../img/checkbox-on.svg");

  opacity: 1;
}

.filter-bluetooth {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  width: 300px;
}

.filter-bluetooth label {
  display: block;
}

.filter-bluetooth legend::before {
  position: absolute;
  top: -9px;
  left: 0px;

  content: "";
  width: 201px;
  height: 2px;

  background-color: #000000;
}

.filter-bluetooth legend {
  position: relative;

  margin-left: -2px;

  letter-spacing: 0.25px;
}

.color-list label,
.filter-bluetooth label {
  position: relative;
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
}

.filter-bluetooth label {
  margin-left: 37px;
}

.filter-bluetooth label:nth-of-type(1) {
  margin-top: 15px;
}

.filter-bluetooth label::before {
  position: absolute;
  top: 5px;
  left: -42px;

  content: "";
  width: 28px;
  height: 28px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.filter-bluetooth label:nth-of-type(1)::before,
.filter-bluetooth #radio-on:checked ~ label:nth-of-type(1)::before {
  top: 4px;
}

#radio-on:checked ~ label:nth-of-type(1)::before,
#radio-off:checked ~ label:nth-of-type(2)::before {
  position: absolute;
  top: 5px;
  left: -42px;

  content: "";
  width: 28px;
  height: 28px;

  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.filter-bluetooth label:hover::before,
#radio-on:checked ~ label:hover:nth-of-type(1)::before,
#radio-off:checked ~ label:hover:nth-of-type(2)::before {
  opacity: 0.6;
}

.filter-bluetooth label:active::before {
  background-image: url("../img/radio-on.svg");
  opacity: 1;
}

#radio-on:checked ~ label:active:nth-of-type(1)::before,
#radio-off:checked ~ label:active:nth-of-type(2)::before {
  background-image: url("../img/radio-off.svg");
  opacity: 1;
}

.filters-form .filters-submit {
  position: absolute;
  bottom: -55px;
  left: 0px;

  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -3px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 42px;
  padding-right: 38px;
  height: 8px;

  border: none;
}

.filters-form .filters-submit:hover {
  position: absolute;
  bottom: -55px;

  height: 40px;
  margin-top: -16px;
  margin-bottom: -16px;
  padding-top: 16px;
  padding-bottom: 16px;

  border: none;
}

/*== CATALOG == */

.catalog {
  width: 832px;
}

.catalog-sorting-container {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  background-color: #ebebeb;

  -webkit-box-shadow: 800px 0px 0px 0px #ebebeb;
          box-shadow: 800px 0px 0px 0px #ebebeb;
}

.catalog h2 {
  margin: 0;
  margin-left: 53px;
  padding: 20px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.sorting-type,
.sorting-priority {
  list-style: none;
  margin: 0;
  padding: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sorting-type {
  margin-top: 18px;
  margin-left: 32px;
  width: 281px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sorting-type-item a {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-weight: 300;

  opacity: 0.3;
}

.sorting-type-item a:hover {
  opacity: 0.6;
}

.sorting-type-item a:active {
  opacity: 1;
}

.sorting-priority {
  margin-top: 18px;
  margin-left: 236px;
}

.sorting-toggle {
  display: inline-block;
  width: 12px;
  height: 12px;

  vertical-align: middle;

  background: inherit;
  border: none;
}

.sorting-toggle.descending {
  margin-left: 18px;
}

.sorting-item .ascending {
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: 1px 1px;
}

.sorting-item .descending {
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 1px 1px;
}

.sorting-item-current a {
  opacity: 1;
}

.sorting-item-current button {
  opacity: 0.2;
}

.sorting-item button:hover {
  opacity: 0.4;

  cursor: pointer;
}

.sorting-item button:active {
  opacity: 1;
}

.catalog-list {
  list-style: none;
  margin: 0;
  padding: 70px;
  padding-top: 69px;
  padding-left: 72px;
  padding-bottom: 40px;
  width: 815px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog-item {
  position: relative;

  margin-bottom: 66px;
  margin-right: 40px;
}

.catalog-item:nth-child(3),
.catalog-item:nth-last-child(1) {
  margin-bottom: 16px;
}

.catalog-item a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 17px;
  color: #000000;
  letter-spacing: 0.8px;
}

.catalog-item .catalog-price {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  color: #464646;
  font-weight: 400;
}

.catalog-item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-item-info h3 {
  margin-top: 19px;
  margin-bottom: 16px;

  letter-spacing: 0.25px;
}

.catalog-item-info b {
  letter-spacing: 0.2px;
}

.catalog-item:nth-child(1) b {
  margin-top: 4px;
}

.catalog-item:nth-child(2) b {
  margin-top: -16px;

  letter-spacing: 0.2px;
}

.hover-info-compare-button {
  font-size: 13px;
  line-height: 36px;
  font-weight: 300;

  background-color: #eeeeee;
  opacity: 0.7;
  border: none;
}

.selfie-info {
  position: relative;
}

.selfie-info a {
  position: absolute;
  top: 1px;

  display: inline-block;
  width: 200px;
  margin-top: 4.5px;

  vertical-align: middle;
  line-height: 22px;
  letter-spacing: 0.9px;
  white-space: pre-line;
}

.catalog-item-new {
  position: relative;
}

.catalog-item-new::after {
  position: absolute;
  top: 14px;
  right: 21px;

  content: "NEW";
  padding-top: 30px;
  width: 70px;
  height: 70px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;

  background-image: url("../img/new-circle.svg");
  background-repeat: no-repeat;
  background-position: 4px 15px;
  opacity: 0.2;
}

.catalog-item-info h3 {
  position: relative;
}

.catalog-item-header a {
  position: absolute;

  margin-top: 30px;
  display: inline-block;

  vertical-align: middle;
}

.catalog-item-header .amature-header {
  top: -28px;
  left: 0px;

  width: 255px;
}

.catalog-item-header .profi-header {
  top: 5px;
  left: 0px;

  width: 172px;
  margin-top: 0;
}

.catalog-item-header .unsubmergible-header {
  top: -28px;
  left: 0px;

  width: 265px;

  letter-spacing: 0.7px;
}

.catalog-item-header .follow-me-header {
  top: -24px;
  left: 0px;

  width: 250px;

  line-height: 22px;
}

.catalog-item-info:nth-child(2) > b {
  margin-top: 21px;
}

.hover-info-compare-button > span {
  opacity: 0.5;
}

.hover-info-compare-button:hover > span {
  opacity: 1;
}

.hover-info-compare-button:active > span {
  opacity: 0.2;
}

.paginator-container {
  position: relative;

  width: 721px;
  margin-left: 72px;
  margin-bottom: 73px;
  margin-top: -1px;
  padding-left: 19px;
  padding-top: 20px;
  padding-bottom: 3px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  background-color: #ebebeb;
}

.paginator {
  list-style: none;
  margin-left: 318px;
  margin-right: 303px;
  margin-top: 1px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100px;
}

.paginator-btn {
  position: absolute;

  padding: 25px;

  background-color: inherit;
  border: none;
}

.paginator-btn > span {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.paginator-prev {
  top: 1px;
  left: 0px;
}

.paginator-next {
  top: 1px;
  right: 0px;
}

.paginator-prev span,
.paginator-next span {
  margin-left: 4px;

  letter-spacing: 3.7px;
}

.paginator-item {
    background-color: #ebebeb;
}

.paginator-item:nth-child(2) {
  margin-left: 0px;
}

.paginator-item:nth-child(3) {
  margin-right: 10px;
}

.paginator-item a,
.paginator-btn {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  color: #000000;
  letter-spacing: 0.2em;
}

.paginator-item a {
  opacity: 0.3;
}

.paginator-item a:hover {
  opacity: 0.6;
}

.paginator-item a:active {
  opacity: 1;
}

.paginator-item-current a,
.paginator-item-current a:hover {
  opacity: 1;
}

.paginator-btn:hover {
  background-color: #d9d9d9;
}

.paginator-btn:active {
  opacity: 0.08;
}


.hover-info {
  position: absolute;
  top: 0px;

  width: 360px;
  height: 380px;
  display: none;
}

.hover-info-compare-button {
  position: absolute;
  bottom: 125px;
  left: 106px;

  background-color: transparent;
}

.hover-info-button {
  position: absolute;
  top: 185px;
  left: 79px;

  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -3px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 42px;
  padding-right: 38px;
  height: 8px;

  border: none;
}

.hover-info-button:hover {
  margin-top: -16px;
  margin-bottom: -16px;
  padding-top: 16px;
  padding-bottom: 16px;
  height: 40px;
}

.catalog-picture:hover ~ .hover-info,
.hover-info:hover {
  display: block;
}

.catalog-item:hover > .catalog-picture {
  opacity: 0.7;

  cursor: pointer;
}
