/*== FONTS ==*/

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroyextrabold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroylight.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

/*== TEMPORARY == */

.hide-from-view,
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*== GLOBAL ==*/

body {
  min-width: 1160px;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 44px;
  padding-right: 40px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 4.25px;

  background-color: #f0c52e;
  background-image: linear-gradient(#ffffff 18px, #f0c52e 18px, #f0c52e 26px, #ffffff 26px);
}

.button:hover,
.button:focus,
.button:active {
  background-color: #f0c52e;
  background-image: none;
}

.button:active > span {
  opacity: 0.3;
}

/*== HEADER == */

.main-header {
  padding-left: 55px;
  padding-right: 60px;
  box-sizing: border-box;

  background-image: linear-gradient(#ffffff 15px, #f7e296 15px);
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.main-header-logo p {
  position: relative;

  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 2px;


  font-family: "Gilroy", Arial, sans-serif;
  font-size: 48px;
  color: #000000;
  letter-spacing: 0.5px;
}

.search-form-container {
  position: relative;
}

.search-form-container::after {
  position: absolute;
  top: 10px;
  left: 7px;

  content: "";
  width: 25px;
  height: 25px;

  background-image: url("../img/search-icon.svg");
  background-repeat: no-repeat;
  background-position: 1px 1px;
}

.main-header-upper-container {
  display: flex;
  width: 1060px;
  justify-content: space-between;
}

.upper-container-left-part {
  position: relative;

  display: flex;
  justify-content: flex-start;
}

.main-header-columns {
  position: relative;

  display: flex;
  flex-direction: column;
}

.search-form input {
  margin: 0;
  padding: 0;
  padding-bottom: 12px;
  padding-left: 43px;
  width: 355px;
}

.search-form input[placeholder] {
  font-size: 15px;
  line-height: 36px;
  color: #000000;
  font-weight: 300;
  letter-spacing: 0.4px;

  background-color: inherit;
  opacity: 0.3;
  border: none;
}

.search-form input[placeholder]:hover {
  opacity: 0.6;
}

.search-form input[placeholder]:focus {
  margin-bottom: -2px;

  opacity: 1;
  border-bottom: 2px solid #000000;
}

.search-button {
  display: none;
}

.search-input:focus ~ .search-button,
.search-button:hover,
.search-button:active {
  display: block;

  position: absolute;
  top: 0px;
  left: 355px;

  width: 85px;
  height: 50px;

  font-size: 15px;
  line-height: 36px;
  color: #000000;
  text-transform: none;
  font-weight: 300;

  background-color: #f7e296;
  border: 2px solid #000000;
}

.search-form-container .search-button:hover {
  color: #ffffff;

  background-color: #000000;
}

.search-button:active > span {
  opacity: 0.3;
}

.header-user-links,
.header-service-links,
.header-dropping-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-user-links {
  display: flex;
  flex-wrap: wrap;
  width: 519px;
}

.header-user-links li:nth-child(2) {
  margin-left: 208px;
}

.header-user-links li:nth-child(3) {
  margin-left: 34px;
}

.header-user-links a::before {
  position: absolute;
  top: 4px;
  left: -2px;

  content: "";
  width: 25px;
  height: 25px;

  opacity: 1;
}

.header-user-link a {
  letter-spacing: 0.1px;
}

.header-user-link:first-child a::before {
  background-image: url("../img/user-icon.svg");
  background-repeat: no-repeat;
  background-position: 6px 8px;
}

.header-user-link:nth-child(2) a::before {
  background-image: url("../img/compare-icon.svg");
  background-repeat: no-repeat;
  background-position: 12px 10px;
}

.header-user-link:nth-child(3) a::before {
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 9px 8px;
}

.header-user-links a {
  position: relative;

  display: block;
  padding-left: 30px;
}

.header-dropping-list {
  display: none;
}

.header-service-link:hover + .header-dropping-list,
.header-dropping-list:hover {
  position: absolute;
  top: 25px;
  left: -55px;
  z-index: 5;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-top: 20px;
  width: 1160px;
  height: 145px;

  background-color: #F7E296;
}

.header-dropping-list li {
  flex-basis: 45px;
}

.header-dropping-list .row-1,
.header-dropping-list .row-2 {
  margin-left: 60px;
}

.header-dropping-list .row-3 {
  flex-basis: 65px;
  margin-left: 75px;
}

.header-user-links a,
.header-dropping-list a {
  line-height: 36px;
  color: #000000;
  text-transform: none;
  font-weight: 300;
}

.header-dropping-list a {
    letter-spacing: 0.1px;
}

.header-service-links {
  margin: 0;
  padding: 0;
  width: 1050px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 21px;
  margin-bottom: 19px;
}

.header-service-links .header-service-link {
  font-size: 17px;
  letter-spacing: 4.25px;
}

.header-service-links li:first-child {
  position: relative;
}

.header-service-links > li:first-child::after {
  position: absolute;
  top: 2px;
  left: 230px;

  content: "";
  width: 25px;
  height: 25px;

  background-image: url("../img/plus-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.3;
}

.header-service-links > li:nth-child(2) {
  margin-left: 318px;
}

.header-service-links > li:nth-child(3) {
  margin-left: 30px;
}

.header-service-links > li:nth-child(4) {
  margin-left: 104px;
}

.header-service-link {
  margin-left: 4px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.header-user-links a:hover,
.header-dropping-list a:hover,
.header-service-links a:hover,
.header-user-links a:hover::before {
  opacity: 0.6;
}

.header-user-links a:active,
.header-dropping-list a:active,
.header-service-links a:active,
.header-user-links a:active::before {
  opacity: 0.3;
}

/*== HEADER INNER PAGE ==*/

 .main-header-logo .inner:hover {
  opacity: 0.6;
}

.main-header-logo .inner:active {
 opacity: 0.3;
}

/*== FOOTER ==*/

.main-footer {
  background-color: #464646;
}

.main-footer .container {
  position: relative;
  left: -1px;

  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}

.footer-left-part {
  width: 250px;
}

.footer-left-part p {
  margin-top: 31px;
}

.footer-middle-part {
  width: 450px;

  text-align: center;
}

.footer-right-part {
  width: 350px;

  text-align: right;
}

.main-footer-logo p {
  position: relative;

  margin: 0;
  padding: 0;
  margin-left: -2px;
  margin-top: 9px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 48px;
  color: #ffc600;
  letter-spacing: 0.5px;
}

.footer-left-part::after {
  position: absolute;
  top: 237px;
  left: 1px;

  content: "";
  width: 80px;
  height: 7px;

  background-color: #F0C52E;
}

.footer-service-links,
.social-buttons,
.footer-user-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-service-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 74px;
  margin-left: 63px;
  width: 428px;
}

.footer-user-links {
  display: flex;
  flex-wrap: wrap;
  margin-left: 26px;
  width: 329px;
}

.developer-logo {
  position: relative;
}

.developer-logo svg {
  position: absolute;
  left: -28px;

  margin-top: 48px;
}

.footer-user-links span {

  line-height: 36px;
  color: #ffffff;
  font-weight: 300;
  letter-spacing: 0.15px;

  opacity: 0.7;
}

.footer-user-link:nth-child(2) {
  margin-left: 43px;
}

.footer-user-link:nth-child(3) {
  margin-left: 41px;
}

.footer-user-link:nth-child(1) span {
    margin-left: 9px;
}

.footer-user-link:nth-child(2) span {
    margin-left: 6px;
}

.footer-user-link:nth-child(3) span {
    margin-left: 7px;
}

.footer-user-links svg:hover,
.developer-logo:hover {
  opacity: 0.6;
}

.footer-user-links svg:active,
.developer-logo:active {
  opacity: 0.3;
}

.footer-user-links span:hover {
  opacity: 1;
}

.footer-user-links span:active {
  opacity: 0.3;
}

.phone,
.adress {
  line-height: 30px;
  color: #ffffff;
  font-weight: 300;
}

.phone {
  margin-top: 34px;
  width: 351px;
}

.footer-service-links a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.main-footer-logo p:hover,
.footer-service-links a:hover {
  opacity: 0.6;
}

.main-footer-logo p:active,
.footer-service-links a:active {
  opacity: 0.3;
}

.social-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 60px;
  margin-left: 205px;
  width: 141px;

  color: #ffffff;

  opacity: 0.3;
}

.social-buttons svg:hover {
  opacity: 0.6;
}

.social-buttons svg:active {
  opacity: 0.1;
}

/*== INDEX [PAGE] == */

/*== PROMO-DESCRIPTION ==*/

.promo-description {
  position: relative;
}

.upper-slider {
  position: relative;

  padding-right: 50px;
  padding-top: 29px;
  margin: 0;

  background-image: linear-gradient(#F7E296 140px, #ffffff 140px);
}

.promo-description label {

  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  box-shadow: 0px 0px 0px 1px #000000;
  border-radius: 50%;

  background-color: #ffffff;
}

.promo-description .upper-toggle {
  position: absolute;
  z-index: 6;
  top: 357px;
  right: 150px;
}

.promo-description .upper-toggle-2 {
  right: 117px;
}

.promo-description .upper-toggle-3 {
  right: 84px;
}

.upper-slider li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
}

#upper-toggle-1:checked ~ label[for="upper-toggle-1"],
#upper-toggle-2:checked ~ label[for="upper-toggle-2"],
#upper-toggle-3:checked ~ label[for="upper-toggle-3"] {
  background-image: url("../img/slider-button.svg");
  background-repeat: no-repeat;
  background-position: -1px -1px;
}

#upper-toggle-1:checked ~ .upper-slider .slide-1 {
  display: flex;
}

#upper-toggle-2:checked ~ .upper-slider .slide-2 {
  display: flex;
}

#upper-toggle-3:checked ~ .upper-slider .slide-3 {
  display: flex;
}

.slide-1 img {
  position: relative;
  top: 0px;
  left: 50px;
}

.slide-2 img {
  position: relative;
  top: 8px;
  left: 12px;
}

.slide-3 img {
  position: relative;
  top: 65px;
  left: -8px;
}

.description-container {
  position: relative;
  z-index: 0;

  width: 512px;
  margin-left: auto;
  padding-top: 79px;
}

.upper-slider b {
  margin-left: 1px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 46px;
  line-height: 56px;
  letter-spacing: 1.25px;
}

.description-container .slide-number {
  position: absolute;
  top: 61px;
  right: -1px;
  z-index: -1;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 178.5px;
  color: #ffffff;

  background-color: #f7e296;
}

.description-container b::before {
  position: absolute;
  top: 37px;
  left: 2px;

  content: "";
  width: 100px;
  height: 7px;

  background-color: #ffffff;
}

.description-container .item-description {
  padding-top: 4px;
  padding-bottom: 26px;
  padding-left: 1px;

  width: 490px;

  line-height: 30px;
  color: #464646;
  font-weight: 300;
  letter-spacing: 0.01em;
}

.slide-button {
  margin-left: 1px;
  padding-left: 45px;
  padding-right: 39px;
}

.slide-2 .item-description {
  width: 450px;
}

.slide-3 .item-description {
  width: 480px;
}

.slide-table {
  padding: 0;
  margin: 0;
  padding-top: 52px;
  margin-bottom: 50px;
}

.slide-table th,
.slide-table td {
  padding-right: 74px;

  letter-spacing: 0.2px;
}

.slide-table th:nth-child(2),
.slide-table td:nth-child(2){
  padding-right: 73px;
}

.slide-table th:last-child,
.slide-table td:last-child {
  padding-right: 0;
}

.slide-table th {
  padding-bottom: 13px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  font-weight: 300;
}

.slide-table td {
  font-size: 13px;
  line-height: 20px;
  color: #464646;
  font-weight: 300;
}

/*== SHOP-CATEGORY ==*/

.shop-category {
  position: relative;
  left: -1px;

  padding-top: 120px;
}

.item-groups {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 110px;
  margin-bottom: 53px;
  display: flex;
  justify-content: space-between;
}

.item-group-container {
  position: relative;

  width: 160px;
}

.item-group-container a::before {
  position: absolute;
  top: -194px;
  left: 1px;

  content: "";
  width: 160px;
  height: 160px;

  background-color: #F7E296;
}

.item-group:nth-child(1) svg {
  position: absolute;
  top: -204px;
  left: 32px;
}

.item-group:nth-child(2) svg {
  position: absolute;
  top: -215px;
  left: 39px;
}
.item-group:nth-child(3) svg {
  position: absolute;
  top: -196px;
  left: 50px;
}

.item-group:nth-child(4) svg {
  position: absolute;
  top: -184px;
  left: 29px;
}

.item-group:nth-child(5) svg {
  position: absolute;
  top: -202px;
  left: 56px;
}

.item-group:nth-child(6) svg {
  position: absolute;
  top: -185px;
  left: 14px;
}

.item-group-container a {
  position: relative;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  color: #000000;
}

.item-group-container:hover a::before{
  background-color: #F0C52E;
}

.item-class-description {
  font-size: 18px;
  line-height: 22px;
  margin-top: 25px;
  letter-spacing: 0.012em;
}

.item-class-second-description {
  width: 120px;
}

.item-class-fourth-description {
  white-space: nowrap;
}

.item-class-description:active,
.item-group svg:active {
  opacity: 0.3;
}

/*== SERVICE ==*/

.service {
  background-image: linear-gradient(#ffffff 113px,  #e5e5e5 113px);
}

.lower-slider-container {
  position: relative;

  padding-top: 73px;
  padding-bottom: 121px;
  display: flex;
  justify-content: flex-start;
}

.lower-slider-container .lower-toggle-button {
  position: absolute;
  top: 0;

  padding-top: 6px;
  padding-bottom: 4px;
  padding-left: 20px;
  padding-right: 16px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 4.3px;

  background-color: #E5E5E5;
  background-image: linear-gradient(#E5E5E5 16px, #f0c52e 16px, #f0c52e 24px, #E5E5E5 24px);
}

.lower-slider-container .lower-toggle-button:nth-of-type(1) {
  top: 93px;

  background-image: linear-gradient(#ffffff 16px, #f0c52e 16px, #f0c52e 20px, #E5E5E5 20px, #f0c52e 20px, #f0c52e 24px, #E5E5E5 24px);
}

.lower-slider-container .lower-toggle-button:nth-of-type(2) {
  top: 157px;

  padding-left: 25px;
  padding-right: 20px;
  margin-bottom: 21px;
}

.lower-slider-container .lower-toggle-button:nth-of-type(3) {
  top: 222px;

  padding-left: 37px;
  padding-right: 35px;
}

#lower-toggle-1:checked ~ label[for="lower-toggle-1"],
#lower-toggle-2:checked ~ label[for="lower-toggle-2"],
#lower-toggle-3:checked ~ label[for="lower-toggle-3"] {
  padding-top: 6px;
  padding-bottom: 4px;

  color: #f7e184;

  background-color: #000000;
  box-shadow: 120px 0px 0px 0px #000000;
  background-image: none;
}

.lower-slider {
  list-style: none;
  margin: 0;
  padding: 0;
}

.lower-slider .lower-slide-header {
  font-size: 46px;
  letter-spacing: 1.4px;
}

.lower-slider-container::after {
  position: absolute;
  left: 277px;
  top: 13px;

  content: "";
  width: 7px;
  height: 319px;

  background-color: #000000;
}

.lower-slider-container .lower-toggle-button:hover {
  padding-top: 6px;
  padding-bottom: 4px;

  background-image: none;
  background-color: #f0c52e;
}

.lower-slide-description {
  width: 450px;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 400px;
  padding-right: 390px;
}

.lower-slide-description h3 {
  margin: 0;
  margin-bottom: 40px;
  padding-top: 2px;
  padding-left: 2px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
}

.lower-slide-description .advantage-description {
  line-height: 30px;
  color: #464646;
  font-weight: 300;
  letter-spacing: 0.26px
}

.lower-slider li {
  display: none;
}

#lower-toggle-1:checked ~ .lower-slider .lower-slide-1 {
  display: block;
}

#lower-toggle-2:checked ~ .lower-slider .lower-slide-2 {
  display: block;
}

#lower-toggle-3:checked ~ .lower-slider .lower-slide-3 {
  display: block;
}

.lower-slider .lower-slide-1 {
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
  background-position: 958px 25px;
}

.lower-slider .lower-slide-2 {
  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
  background-position: 958px 1px;
}

.lower-slider .lower-slide-3 {
  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
  background-position: 958px 1px;
}

/*== BRANDS == */

.brands-list {
  position: relative;
  left: -1px;
  
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 105px;
  margin-bottom: 100px;
  margin-left: 65px;
  display: flex;
  align-items: center;
}

.brands-item {
  opacity: 0.2;
}

.brands-item:hover {
  opacity: 1;
}

.brands-item:nth-child(1) img {
  margin-top: 1px;
}

.brands-item:nth-child(2) img {
  margin-left: 109px;
}

.brands-item:nth-child(3) img {
  margin-left: 76px;
}

.brands-item:nth-child(4) img {
  margin-top: 8px;
  margin-left: 105px;
}

.brands-item:nth-child(1) a:hover::before {
  content: "";
  width: 127px;
  height: 74px;
  position: absolute;

  background-image: url("../img/logo-dji-hover.jpg");
  background-repeat: no-repeat;
  background-position: 0px 1px;
}

.brands-item:nth-child(2) a:hover::before {
  content: "";
  width: 400px;
  height: 100px;
  position: absolute;

  background-image: url("../img/logo-sp-gadgets-hover.jpg");
  background-repeat: no-repeat;
  background-position: 109px 0px;
}

.brands-item:nth-child(3) a:hover::before {
  content: "";
  width: 400px;
  height: 100px;
  position: absolute;

  background-image: url("../img/logo-gopro-hover.jpg");
  background-repeat: no-repeat;
  background-position: 76px 0px;
}

.brands-item:nth-child(4) a:hover::before {
  content: "";
  width: 400px;
  height: 100px;
  position: absolute;

  background-image: url("../img/logo-vive-hover.jpg");
  background-repeat: no-repeat;
  background-position: 105px 8px;
}

/*== REFERENCE BLOCK ==*/

.reference-block {
  margin-bottom: 77px;
  display: flex;
}

.reference-block h2::before {
  position: absolute;
  top: -61px;
  left: 3px;

  content: "";
  width: 80px;
  height: 7px;

  background-color: #000000;
}

.reference-block h2 {
  position: relative;

  margin-top: 60px;

  font-size: 46px;
  letter-spacing: 1.3px;
}

.reference-block p {
  padding-top: 13px;
  padding-right: 40px;
  letter-spacing: 0.1px;
}

/*== ABOUT US ==*/

.about-us {
  position: relative;
  left: -1px;

  width: 600px;
}

.about-us h2::before {
  left: 1px;
}

.about-us h2 {

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  letter-spacing: 0;
}

.about-us p {
  padding-right: 113px;
  padding-bottom: 2px;

  line-height: 30px;
  color: #464646;
  font-weight: 300;
}

.about-us-partners {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 64px;
  margin-bottom: 52px;
  padding-left: 36px;
}

.about-us-partners li::before {
  /*ААААА! В общем суть в чем: я сделал свг для кружков слева от списка партнеров,
  вставил псевдоэлементом и все было ок, но уже когда спать шел обнаружил что их нет!
  Я мучился минут 40, в итоге вставил тупо эту свг в код и они ПОЯВИЛИСЬ!
  потом я ее удалил, но они на месте остались. Я хз че это за баг такой, расскажешь? :)
  Закрыл файл, открыл - та же фигня, вставил свг опять в код, опять появились...
*/
  position: absolute;
  top: 16px;
  left: -34px;

  content: "";
  width: 8px;
  height: 8px;

  background-image: url("../img/list-style-circle.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.about-us-partners li:nth-child(2)::before {
  position: absolute;
  top: 17px;
  left: -34px;

  content: "";
  width: 18px;
  height: 18px;

  background-image: url("../img/list-style-circle.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.about-us-partners li {
  position: relative;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.15px;
}

.about-us-button {
  padding-left: 23px;
  padding-right: 18px;
  margin-left: 1px;
}

/*== CONTACTS == */

.contacts {
  width: 563px;
}

.contacts h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  letter-spacing: 0.8px;
}

.contacts p {
  line-height: 30px;
  color: #464646;
  font-weight: 300;
}

.contacts img {
  margin-top: 24px;
  margin-left: 3px;
  margin-bottom: 58px;
}

.contacts-button {
  padding-left: 35px;
  padding-right: 37px;
  margin-left: 3px;
}

.contacts-button span {
  padding-left: 5px;

  letter-spacing: 4.3px;
}

/*== MODAL == */

/*== MODAL-WRITE-US == */

.modal {
  display: flex;
  margin: auto;
  width: 960px;
}

.modal-container {
  position: relative;

  box-shadow: 0px 10px 20px 0px rgba(4, 6, 6, 0.2);
}

.modal-close {
position: absolute;
top: 30px;
right: 30px;

padding: 0;
margin: 0;

background-color: inherit;
border: none;
}

.modal-close svg {
  position: absolute;
  top: -5px;
  right: -5px;
}

.write-us-form-container {
  margin-top: 95px;
  margin-bottom: 75px;
  margin-left: 100px;
  margin-right: 100px;
}

.write-us-form label {
  display: flex;
  flex-direction: column;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
}

.write-us-form input,
.write-us-form textarea {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  margin-top: 10px;

  background-color: #e5e5e5;
  opacity: 0.5;

  border: none;
}

.write-us-form textarea {
  height: 160px;
  margin-bottom: 40px;
}

.form-upper-container {
  display: flex;
  width: 760px;
  justify-content: space-between;
  margin-bottom: 35px;
}

.form-upper-container label {
  width: 360px;
}

.write-us-form input:hover,
.write-us-form textarea:hover {
  opacity: 0.8;
}

.write-us-form input:focus,
.write-us-form textarea:focus {
  background-color: #ffffff;
  opacity: 0.5;
  border: 3px solid #f0c52e;
}

.write-us-form input:invalid {
  background-color: #edb5b5;
  opacity: 0.5;
}

.write-us-form input[placeholder],
.write-us-form textarea[placeholder] {
  font-size: 14px;
  line-height: 18px;
  color: #464646;

  opacity: 0.4;
}

.write-us-form input[placeholder]:focus,
.write-us-form textarea[placeholder]:focus {
  opacity: 1;
}

.write-us-submit {
  background-color: #f0c52e;
  background-image: linear-gradient(#ffffff 14px, #f0c52e 14px, #f0c52e 21px, #ffffff 21px);
  border: none;
}

/*== MODAL POP-UP-MAP ==*/

.modal-popup-map {
  position: relative;
}

.modal-popup-map .modal-close {
position: absolute;
top: 27px;
right: 41px;

padding: 0;
margin: 0;

background-color: inherit;
opacity: 0.5;
border: none;
}

/*== CATALOG [PAGE] ==*/

/*== CATALOG. MAIN ==*/

.main-inner-container {
  padding-left: 55px;
}

.inner-page-header {
  margin: 0;
  margin-top: 40px;
  margin-bottom: 35px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
}

.breadcrumbs a,
.breadcrumbs-current {
  font-size: 14px;
  line-height: 36px;
  color: #000000;
  font-weight: 300;

  opacity: 0.3;

}

.breadcrumbs a:hover {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

/*== CATALOG-REFERENCE-BLOCK ==*/

.catalog-reference-block {
  display: flex;
}

/*== FILTERS == */

.filters {
  width: 275px;
  padding-left: 55px;

  background-color: #efefef;
}
/* Псевдоэлемент или градиент? Вот в чем вопрос. */

.filters h2 {
  margin: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: #dbdbdb;
}

.filters-form fieldset {
  border: none;
}

.filters-form .range-name,
.filters-form legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
}

.color-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.color-list label,
.filter-bluetooth label {
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
}

/*== CATALOG == */

.catalog {
  width: 885px;

}

.catalog-sorting-container {
  display: flex;

  background-color: #ebebeb;
}

.catalog h2 {
  margin: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.sorting-type,
.sorting-priority {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sorting-type-item a {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-weight: 300;

  opacity: 0.3;
}

.sorting-type-item a:hover {
  opacity: 0.6;
}

.sorting-type-item a:active {
  opacity: 1;
}

.sorting-item-current a {
  opacity: 1;
}

.sorting-item-current .ascending {
  opacity: 1;
}

.sorting-item-current .ascending:hover {
  opacity: 0.4;
}

.sorting-item .descending {
  opacity: 0.2;
}

.sorting-item .descending:hover {
  opacity: 0.4;
}

.sorting-item .descending:active {
  opacity: 1;
}

.catalog-list {
  list-style: none;
  margin: 0;
  padding: 70px;
  padding-bottom: 40px;
  width: 815px;
  display: flex;
  flex-wrap: wrap;
}

.catalog-item {
  margin-bottom: 50px;
  margin-right: 40px;
}

.catalog-item:nth-child(3),
.catalog-item:nth-last-child(1) {
  margin-bottom: 0;
}


.catalog-item img:hover {
  opacity: 0.7;
}

.catalog-item a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  color: #000000;
}

.catalog-item .catalog-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  color: #464646;
  font-weight: 400;
}

.catalog-item-info {
  display: flex;
  align-items: center;
}

.hover-info-compare-button {
  font-size: 13px;
  line-height: 36px;
  font-weight: 300;

  background-color: #eeeeee;
  opacity: 0.7;
  border: none;
}

.hover-info-compare-button > span {
  opacity: 0.5;
}


.hover-info-compare-button:hover > span {
  opacity: 1;
}

.hover-info-compare-button:active > span {
  opacity: 0.2;
}

.paginator-container {
  width: 815px;
  margin-left: 70px;
  margin-bottom: 70px;
  margin-top: 0;
  display: flex;
  justify-content: space-between;

  background-color: #ebebeb;
}

.paginator-btn {
  background-color: inherit;
  border: none;
}

.paginator {
  list-style: none;
  margin: 0;
  padding: 0;
}

.paginator-item {
    background-color: #ebebeb;
}

.paginator-item a,
.paginator-btn {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  color: #000000;
  letter-spacing: 0.2em;
}

.paginator-item a {
  opacity: 0.3;
}

.paginator-item-current a {
  opacity: 1;
}

.paginator-btn:hover {
  background-color: #d9d9d9;
}

.paginator-btn:active {
  opacity: 0.08;
}
